// color
$header-main-bg-color: #454955;
$header-title-text-color: #ffffff;
$header-menu-text-color: #a2a4aa;
$sidemenu-main-bg-color: #fcfbfb;
$sidemenu-item-hover-bg-color: #f5f3f3;
$line-color: #e9e8e8;
$line-color-dark: #585858;
$dark-text-color: #333333;
$gray-text-color: #797979;

$primary-color: #5bc668;

// size
$header-height: 64px;
