// color
$header-main-bg-color: #454955;
$header-title-bg-color: #5bc668;
$header-title-text-color: #ffffff;
$header-menu-text-color: #a2a4aa;
$sidemenu-main-bg-color: #fcfbfb;
$sidemenu-item-hover-bg-color: #f5f3f3;
$line-color: #e9e8e8;
$dark-text-color: #333333;

// size
$header-height: 64px;
