@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono|Roboto:400,700,900");
@import "styles/variables.scss";
@import "styles/typography.scss";
@import "styles/mixin.scss";

body {
  color: $dark-text-color;
  font-family: "Montserrat", sans-serif;
}

a {
  color: $dark-text-color;
  &:hover {
    text-decoration: none;
    color: $dark-text-color;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-reverse {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content-container {
  padding: 50px;
}

.mono {
  @include data-font();
}

.btn {
  border-radius: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1rem;
}

.btn-primary {
  background-color: $primary-color;
  border: 0px;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}
