@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono|Roboto:400,700,900");
@import "styles/variables.scss";
@import "styles/typography.scss";

body {
  color: $dark-text-color;
  font-family: "Montserrat", sans-serif;
}

a {
  color: $dark-text-color;
  &:hover {
    color: darken($dark-text-color, 100%);
    text-decoration: none;
  }
}

.content-container {
  padding: 50px;
}
