@import "styles/variables.scss";

.header {
  height: $header-height;
  .title-container {
    width: 300px;
    height: 100%;
    background-color: $primary-color;
    .logo {
      width: 40px;
      height: 40px;
    }
    .title {
      color: white;
    }
  }
  .menu-container {
    flex: 1;
    background-color: $header-main-bg-color;
    padding-right: 40px;
    padding-left: 40px;
    .menu-item {
      span {
        color: $header-menu-text-color;
      }
    }
  }
}
