@import "styles/variables.scss";
@import "styles/mixin.scss";

.side-menu {
  width: 250px;
  height: calc(100vh - #{$header-height});
  background-color: $sidemenu-main-bg-color;
  border-right: 1px solid $line-color;

  .menu-item {
    height: 63px;
    width: 100%;
    border-bottom: 1px solid $line-color;
    padding-left: 30px;
    @include heading-font();

    &:hover {
      background-color: $sidemenu-item-hover-bg-color;
    }

    .icon {
      color: lighten($dark-text-color, 30%);
    }
  }
}
